<div class="navbar-fixed-top logo-bg">
<div class="container">
                            
    <div class="row col-md-6">             
        <img src="/images/logo.gif">
    </div>
    <div class="row col-md-6">
        <form class="navbar-form navbar-right" action="/logout" method="get" role="form">
                    <button type="submit" class="btn btn-sml">Logout</button>
        </form>
    </div>
</div>
    

<% include public_menu %>

</div>