
<!-- libraries and styles of the public website defined here -->
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="viewport" content="width=device-width, maximum-scale=1.0" />
<script>
        localStorage.clear(); //cleans the cache so less is not cached.
    </script>
    <script src="http://code.jquery.com/jquery-1.9.1.min.js"></script>
    <script src="/javascripts/jquery.validate.js"></script>
    <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap-theme.min.css">
    <script src="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>

    <!-- Custom styles for this template -->
    <link href="/jumbotron.css" rel="stylesheet">
    <link href="/stylesheets/index-style.css" rel="stylesheet" type="text/css">
    <script src="/javascripts/index-menu.js"></script>
    <script src="/javascripts/validator.js"></script>
  <!-- <link href="stylesheets/bootstrap.css" rel="stylesheet"> -->