<% if (successMessage !== undefined && successMessage != "") { %>
<div class="center-block success"> 
    <%= successMessage %>
</div>
<% } %>
<% if (errorMessage !== undefined && errorMessage != "") { %>
<div class="center-block error"> 
    <%= errorMessage %>
</div>
<% } %>