<!--menu start -->
        <div id="sse2" >
            <div id="sses2">
                <ul>
                    <li><a href="/">HOME</a></li>
                    <li><a href="/ourMission">OUR MISSION</a></li>
                    <li><a href="/partners">PARTNERS</a></li>
                    <li><a href="/team">THE TEAM</a></li>
                    <li><a href="/contactUs">CONTACT US</a></li>
                </ul>
            </div>
        </div>
    </div>
<!--menu end-->