<div class="navbar-fixed-top logo-bg">
<div class="container">
                            
    <div class="row col-md-6">             
        <img src="/images/logo.gif">
    </div>
    <div class="row col-md-6">
        <form class="navbar-form navbar-right" action="login" method="post" role="form">
                    <div class="form-group">
                        <input type="text" placeholder="Email address" name="username" class="form-control form-control-sml">
                    </div>
                    <div class="form-group">
                        <input type="password" placeholder="Password" name="password" class="form-control form-control-sml">
                    </div>
                    <button type="submit" class="btn btn-sml">Sign in</button>
        </form>
    </div>
</div>
    

<% include public_menu %>

</div>