<head>

    <title>iHealth4Me</title>
    <% include public_templates/public_header %>

</head>

<body>
<% include public_templates/public_header_bar %>

<% include public_templates/public_flash_messages %>

    <div class="container">  
            <div class="col-md-12" align="center">
                    <div class="col-md-12" align="center">
                        <h3>Activate your account here</h3>
                    </div>    
                        <form role="form" action="activate" class="form-normal" method="post">
               
                    <div class="row">
                    <div class="form-group col-md-4" style="float:none">
                            <input type="text" class="form-control" id="username" name="username" placeholder="User Name" required>
                    </div>
                    </div>
                    <div class="row">
                    <div class="form-group col-md-4" style="float:none">
                            <input type="text" class="form-control" id="activationCode" name="activationCode" placeholder="Activation Code" required>
                    </div>
                    </div>
                    <div class="row">
                    <button type="submit" value="activate" class="btn">ACTIVATE NOW!</button>
                    </div>
                </form>
                
            </div>
    </div>

    <% include public_templates/public_footer_bar %>
</body>
