<head>

    <title>iHealth4Me</title>
    <% include public_templates/public_header %>

</head>

<body>
<% include public_templates/public_header_bar %>

<% include public_templates/public_flash_messages %>

    <div class="container"> 
        <div class="row">
            <div class="col-md-9">
            
                <div class="jumbotron">
                    <h3>Welcome to iHealth4me!</h3>
                    <p>iHealth4Me is your Personal Fitness Coach that provides you with information and tools that enable you to live a healthier, happier and more successful life. He is available anytime, everywhere on any device and works together with the Health Professionals of your choice to improve your health and wellbeing.</p>
                <!--    <p><a class="btn btn-primary" role="button">Learn more »</a></p> -->
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <h3>Benefits for iHealth4Me Members</h3>
                        <p>iHealth4Me helps people to measure their holistic health, define personal health strategy and support them in executing the strategy.
                        Strategy execution is challenging in every organization and this is certainly the case for your personal strategies. iHealth4Me will help you in overcoming the challenges to improve your quality of life and reduce your healthcare related cost.
                        </p>
                    </div>
                </div>
                
            </div>
            <div class="col-md-3">
                
                <div class="col-md-12 pager">
                <h4>Register here and live a happier life!</h4>
                <form id="myform" role="form" data-toggle="validator" action="register" class="form-normal" method="post">
                <div id="inputs">
                <!-- IP-25 Sebastian
                <div class="form-group">
                                        <select id="userCategory" name="userCategory" class="form-control" placeholder="User Category" required>
                                            <option name="userCategory" value="" selected disabled>User Category</option><option name="userCategory" value="1">Health Consumer</option>
                                            <option name="userCategory" value="2">Health Professional</option>
                                            <option name="userCategory" value="3">Health Stewart</option>
                                        </select>
                </div>
                -->
                <div class="row">
                    <div class="col-md-6 form-group">
                                            <select id="title" name="title" class="form-control" placeholder="Title" required>
												<option value="" disabled selected>Title</option>                                                
												<option name="title" value="Ms">Ms</option>
                                                <option name="title" value="Mrs">Mrs</option>
                                                <option name="title" value="Mr">Mr</option>
                                            </select>
                    </div>
                </div>    
                    
                    <div class="row">
                    <div class="col-md-6 form-group">
                                            <input type="text" pattern="[A-Za-z]*" class="form-control" id="firstName" name="firstName" placeholder="First Name" required>
                    </div>
                    <div class="col-md-6 form-group">
                                            <input type="text" pattern="[A-Za-z]*" class="form-control" id="lastName" name="lastName" placeholder="Last Name" required>
                    </div>
                    </div>
                    <div class="form-group">
						<input type="date" class="form-control" id="date" placeholder="Date of Birth" name="dob" data-toggle="tooltip" data-placement="top" title="Date of Birth" required>
					</div>
                    <div class="form-group" id="inputs">
                                            <input type="email" class="form-control" id="inputEmail" name="email" placeholder="Email" data-error="Email address is invalid!" data-trigger="focus" title="This will be your iHealth4me userID." required>
						<div class="help-block with-errors"></div>
                    </div>
                    <div class="form-group">
                        <input type="password" pattern="((?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[@#$%]).{6,20})"  class="form-control" placeholder="Password"  data-error="Please recheck password criteria" data-toggle="tooltip" 
						title="Minimum 6 characters in length <br/>
                            Contains all of the following items:<br/>
                                - Uppercase Letters<br />
                                - Lowercase Letters<br />
                                - Numbers<br />
                                - Symbols<br />" data-placement="left"
						id="password" name="password" required>
						<div class="help-block with-errors"></div>
                    </div>
                    <div class="form-group">
                        <input type="password" class="form-control" id="re-enter" placeholder="Re-enter Password" 
						data-match="#password" data-match-error="Whoops, these don't match" required>
						<div class="help-block with-errors"></div>
                    </div>
                    
                    <div class="form-group">
                        <label class="radio-inline"><strong>Sex:</strong></label>
                        <label class="radio-inline">
                         <input id="sex" name="sex" value="1" type="radio" required>
                         Male</label>
                        <label class="radio-inline">
                         <input id="sex" name="sex" value="2" type="radio" required>
                         Female</label>
                    </div>
                    <div class="form-group">
                        <select id="country" name="country" class="form-control" placeholder="Country" required>
                            <option name="country" value="1">Australia</option>
                            <option name="country" value="2">United Kingdom</option>
                            <option name="country" value="3">United States</option>
                            <option name="country" value="4">Germany</option>
                            <option name="country" value="5">Brazil</option>
                        </select>
                    </div>
                    
                    <div class="form-group">
                        <input type="text" class="form-control" id="city" name="city" placeholder="City" required>
                    </div>
                    <div class="row">
                        <div class="col-md-6 form-group">
                            <input type="text" pattern="[A-Za-z]*" class="form-control" id="state" name="state" placeholder="State" required>
                        </div>
                        <div class="col-md-6 form-group">
                            <input type="text" pattern="[A-Za-z0-9]*" class="form-control" id="postCode" name="postCode" placeholder="Post Code" required>
                        </div>
                    </div>
                    
                    <button type="submit" value="register" class="btn">Join Now!</button>
                    </div>
                </form>
            </div>
                
            </div>
        </div>
    </div>


<% include public_templates/public_footer_bar %>

    <script>
   $(document).tooltip({ selector: "[title]",
        html: true,
        placement: "bottom",
        trigger: "focus",
        animation: false
    });
   </script>
</body>
