<head>

    <title>iHealth4Me</title>
    <% include public_templates/public_header %>

</head>

<body>
<% include public_templates/public_header_bar %>

    <!-- Main jumbotron for a primary marketing message or call to action -->

    <div class="container">   
        <div class="row">
            <div class="col-md-9">
            
                <div class="jumbotron">
                    <h3>Welcome to iHealth4me!</h3>
                    <p>iHealth4Me is your Personal Health Coach which provides personalised health recommendations that enable you to live a healthier, happier and more successful life. He is available anytime, everywhere on any device and works together with the Health Professionals of your choice to improve your health and wellbeing.</p>
                <!--    <p><a class="btn btn-primary" role="button">Learn more »</a></p> -->
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <h3>Voice of iHealth4Me Member</h3>
                        <p>Agam is a full-time Ph.D. student at UNSW, who spends long hours working on a desk and attending meetings. Although he is active in the evenings going to the gym and attending dance classes regularly, he is unsure how to track his fitness and eating habits. Also, his current lifestyle has got his family worried as he occasionally suffers from back problem,workload stress and bachelorhood. He decided to visit his UNSW gym to get some personalised advice and his personal trainer suggested to purchase a health-tracking device. So he recently purchased a Fitbit which is a step,activity and sleep tracking device to set step goals and analyse his sleep patterns. Even though his Fitbit helped him meet his step goals and analyse his sleep pattern, he felt that it is a very generic solution  and did not provide himu with a holistic solution that looks at all aspects of health meaning body,mind and body). Also, it did not provide targeted recommendations on how to change his behaviour to achieve a healthier lifestlye. 

                        Subsequently he can across different health programs and decided to attend meetups like HealthTech Sydney and Quantified Self Sydney to find his "perfect" solution. On one of these events he learned about iHealth4Me, a holistic eHealth platform that allows him to track his health holistically and provides targeted advice, based on sophisticated analysis on his health data.
                        </p>
                    </div>
                    <div class="col-md-6">
                        <h3>Benefits for iHealth4Me Member</h3>
                        <p>IHealth4Me helped Agam to learn more about a healthy lifestyle,defining his personal health strategy, and supporting him and his trusted health professionals to execute the health strategy. He can see his success by looking at the holistic measurements that are captured by the platform, based on data from health-tracking devices, personal health records and genetic makeup data. This way Agam and his health professionals can manage his health and wellbeing in a unique way.

                        Agam is so excited about this unique holistic solution that he shared his results and experience with his family and friends to enable them to live a healthier and happier life.
                        </p>
                    </div>
                </div>
                
            </div>
            <div class="col-md-3">
                
                <div class="col-md-12 pager">
                <h4>Register here to live a happier life!</h4>
                <form id="myform" role="form" data-toggle="validator" action="register" class="form-normal" method="post">
                <div id="inputs">
                <!-- IP-25 Sebastian
                <div class="form-group">
                                        <select id="userCategory" name="userCategory" class="form-control" placeholder="User Category" required>
                                            <option name="userCategory" value="" selected disabled>User Category</option><option name="userCategory" value="1">Health Consumer</option>
                                            <option name="userCategory" value="2">Health Professional</option>
                                            <option name="userCategory" value="3">Health Stewart</option>
                                        </select>
                </div>
                -->
                <div class="row">
                    <div class="col-md-6 form-group">
                                            <select id="title" name="title" class="form-control" placeholder="Title" required>
												<option value="" disabled selected>Title</option>                                                
												<option name="title" value="Ms">Ms</option>
                                                <option name="title" value="Mrs">Mrs</option>
                                                <option name="title" value="Mr">Mr</option>
                                            </select>
                    </div>
                </div>    
                    
                    <div class="row">
                    <div class="col-md-6 form-group">
                                            <input type="text" pattern="[A-Za-z]*" class="form-control" id="firstName" name="firstName" placeholder="First Name" required>
                    </div>
                    <div class="col-md-6 form-group">
                                            <input type="text" pattern="[A-Za-z]*" class="form-control" id="lastName" name="lastName" placeholder="Last Name" required>
                    </div>
                    </div>
                    <div class="form-group">
						<input type="date" class="form-control" id="date" placeholder="Date of Birth" name="dob" data-toggle="tooltip" data-placement="top" title="Date of Birth" required>
					</div>
                    <div class="form-group" id="inputs">
                                            <input type="email" class="form-control" id="inputEmail" name="email" placeholder="Email" data-error="Email address is invalid!" data-trigger="focus" title="This will be your iHealth4me userID." required>
						<div class="help-block with-errors"></div>
                    </div>
                    <div class="form-group">
                        <input type="password" pattern="((?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[@#$%]).{6,20})"  class="form-control" placeholder="Password"  data-error="Please recheck password criteria" data-toggle="tooltip" 
						title="Minimum 6 characters in length <br/>
                            Contains all of the following items:<br/>
                                - Uppercase Letters<br />
                                - Lowercase Letters<br />
                                - Numbers<br />
                                - Symbols<br />" data-placement="left"
						id="password" name="password" required>
						<div class="help-block with-errors"></div>
                    </div>
                    <div class="form-group">
                        <input type="password" class="form-control" id="re-enter" placeholder="Re-enter Password" 
						data-match="#password" data-match-error="Whoops, these don't match" required>
						<div class="help-block with-errors"></div>
                    </div>
                    
                    <div class="form-group">
                        <label class="radio-inline"><strong>Sex:</strong></label>
                        <label class="radio-inline">
                         <input id="sex" name="sex" value="1" type="radio" required>
                         Male</label>
                        <label class="radio-inline">
                         <input id="sex" name="sex" value="2" type="radio" required>
                         Female</label>
                    </div>
                    <div class="form-group">
                        <select id="country" name="country" class="form-control" placeholder="Country" required>
                            <option name="country" value="1">Australia</option>
                            <option name="country" value="2">United Kingdom</option>
                            <option name="country" value="3">United States</option>
                            <option name="country" value="4">Germany</option>
                            <option name="country" value="5">Brazil</option>
                        </select>
                    </div>
                    
                    <div class="form-group">
                        <input type="text" class="form-control" id="city" name="city" placeholder="City" required>
                    </div>
                    <div class="row">
                        <div class="col-md-6 form-group">
                            <input type="text" pattern="[A-Za-z]*" class="form-control" id="state" name="state" placeholder="State" required>
                        </div>
                        <div class="col-md-6 form-group">
                            <input type="text" pattern="[A-Za-z0-9]*" class="form-control" id="postCode" name="postCode" placeholder="Post Code" required>
                        </div>
                    </div>
                    
                    <button type="submit" value="register" class="btn-primary">Join Now!</button>
                    </div>
                </form>
            </div>
                
            </div>
        </div>
    </div>

    <% include public_templates/public_footer_bar %>

    <script>
   $(document).tooltip({ selector: "[title]",
        html: true,
        placement: "bottom",
        trigger: "focus",
        animation: false
    });
   </script>

</body>
