<head>

    <title>iHealth4Me</title>
    <% include public_templates/public_header %>

</head>

<body>
<% include public_templates/public_header_bar %>

<% include public_templates/public_flash_messages %>

    <div class="container">  
            <div class="col-md-12" align="center">
                    <div class="col-md-12" align="center">
                        <h3>Login here</h3>
                        <p></p>
                    </div>    
                        <form role="form" action="login" class="form-normal" method="post">
               
                    <div class="row">
                    <div class="form-group col-md-4" style="float:none">
                            <input type="text" class="form-control" id="username" name="username" placeholder="Email address" required>
                    </div>
                    </div>
                    <div class="row">
                    <div class="form-group col-md-4" style="float:none">
                            <input type="password" class="form-control" id="password" name="password" placeholder="Password" required>
                    </div>
                    </div>
                    <div class="row">
                        <a href="resetPassword">Forgot your password?</a>
                    </div>
                    <div class="row">
                        <a href="activation">Need to activate your account?</a>
                    </div>
                    <br/>
                    <div class="row">
                    <button type="submit" value="login" class="btn">LOGIN NOW!</button>
                    </div>
                </form>
                
            </div>
    </div>

    <% include public_templates/public_footer_bar %>

</body>
