<head>

    <title>iHealth4Me</title>
    <% include public_templates/public_header %>

</head>

<body>
<% include public_templates/public_header_bar %>

<% include public_templates/public_flash_messages %>

    <div class="container">  
            <div class="col-md-12" align="center">
                    <div class="col-md-12" align="center">
                        <h3>Reset your password here</h3>
                        <p></p>
                    </div>    
                        <form role="form" action="resetPassword" class="form-normal" method="post">
               
                    <div class="row">
                        <div class="form-group col-md-4" style="float:none">
                                <input type="text" class="form-control" id="username" name="username" placeholder="Email address" required>
                        </div>
                    </div>
                    <div class="row">
                        <button type="submit" value="reset_password" class="btn">
                            RESET PASSWORD
                        </button>
                    </div>
                </form>
            </div>
    </div>

    <% include public_templates/public_footer_bar %>
    
</body>
