@charset "utf-8";
/* Menu CSS */

#sse2
{
    /*You can decorate the menu's container, such as adding background images through this block*/
    background-color: #9C9;
    height: 58px;
    padding: 15px;
	margin: 15px;
    border-radius: 6px;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
}
#sses2
{
    margin:0 auto;/*This will make the menu center-aligned. Removing this line will make the menu align left.*/
}
#sses2 ul 
{ 
    position: relative;
    list-style-type: none;
    float:left;
    padding:0;margin:0;
}
#sses2 li
{
    float:left;
    list-style-type: none;
    padding:0;margin:0;background-image:none;
}
/*CSS for background bubble*/
#sses2 li.highlight
{
    background:#338099 url(mb2_2.gif) no-repeat center bottom;
    top:0px;
    height:30px;
    border-radius: 8px;
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    z-index: 1;
    position: absolute;
    overflow:hidden;
}
#sses2 li a
{
    height:30px;
    padding-top: 8px;
    margin: 0 20px;/*used to adjust the distance between each menu item. Now the distance is 20+20=40px.*/
    color: #fff;
    font: normal 14px arial;
    text-align: center;
    text-decoration: none;
    float: left;
    display: block;
    position: relative;
    z-index: 2;
}

/* Body CSS */

/* Sebastian 13/05/14 - padding on top for high resolution */
body { padding-top: 150px; }

.logo-bg {
  background-color: #fff;
}
.form-control-sml {
  height: 25px;
  font-size: 10px;
}

.btn-sml {
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 12px;
  line-height: 1;
}

.btn-primary {
  color: #036;
  background-color: #9C9;
  border-color: #357ebd;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.open .dropdown-toggle.btn-primary {  
  color: #fff;
  background-color: #338099;
  border-color: #285e8e;
}

.btn-success {
  color: #fff;
  background-color: #9C9;
  border-color: #4cae4c;
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 12px;
  font-weight: normal;
  line-height: 1;
}

.jumbotron p {
  margin-bottom: 15px;
  font-size: 16px;
  font-weight: 200;
}


/* Tooltip */
.tooltip {
    background-color:#000;
    border:1px solid #fff;
    padding:10px 15px;
    width:200px;
    display:none;
    color:#fff;
    text-align:left !important;
    font-size:12px;

    /* outline radius for mozilla/firefox only */
    -moz-box-shadow:0 0 10px #000;
    -webkit-box-shadow:0 0 10px #000;
}

.top-buffer { margin-top:50px; }

.success {
  background-color:#D8F6CE;
  border-left: 0px;
  border-right: 0px;
  border-bottom: 2px solid #0B610B;
  border-top: 2px solid #0B610B;
  padding:10px 15px;
  margin-bottom: 15px;
  width:50%;
  color:#0B610B;
  text-align:center !important;
  font-size:16px;
  font-weight: bold;
}

.error {
  background-color:#F6CECE;
  border-left: 0px;
  border-right: 0px;
  border-bottom: 2px solid #B40404;
  border-top: 2px solid #B40404;
  padding:10px 15px;
  margin-bottom: 15px;
  padding:10px 15px;
  margin-bottom: 15px;
  width:50%;
  color:#B40404;
  text-align:center !important;
  font-size:16px;
  font-weight: bold;
}