.row {
    margin-left: 0px;
    margin-right: 0px;
}

#panels-group {
    margin-top: 50px;
}

#recommendations_list {
    display: flex;
    flex-direction: column;
    width: 100%;
    /*padding-bottom: 30px;*/
}

#device_recommendations_list {
   display: flex;
   flex-direction: row;
   width: 100%;
}

.dev_rec_item {
   flex: 3;
}

.header {
    flex: 1;
    display: flex;
    flex-direction: column;
    padding-bottom: 5px;
}

.title {
   flex: 5;
}

.sub_title {
   font-size: 12px;
   color: gray;
}

.content {
    flex: 4;
    padding-bottom: 5px;
}

.footer {
    flex: 1;
    padding-bottom: 20px;
}

#videoIcon {
    color: green;
    padding-right: 15px;
    text-decoration: none;
}

#plusIcon {
    color: green;
    text-decoration: none;
    padding-right: 15px;
}

div {
    border: 0px solid gray;
}

.recOpt {
    padding-right: 10px;
}

#currentIndex {
   border: 0px solid gray;
   line-height: 100%;
   font-size: 2em;
}

/* make sidebar nav vertical */
@media (min-width: 768px) {
  .sidebar-nav .navbar .navbar-collapse {
    padding: 0;
    max-height: none;
    color: grey;
  }
  .sidebar-nav .navbar ul {
    float: none;
    display: block;
  }
  .sidebar-nav .navbar li {
    float: none;
    display: block;
  }
  .sidebar-nav .navbar li a {
    padding-top: 12px;
    padding-bottom: 12px;
  }
}

#myModal {
   padding-top: 10%;
   overfow: hidden;
}

