<head>

    <title>iHealth4Me</title>
    <% include ../views/public_templates/public_header %>

</head>

<body>
<% include ../views/public_templates/public_header_bar %>

    <!-- Main jumbotron for a primary marketing message or call to action -->

    <!--Agam 15/05/14 added validator.js and form validation attributes, how to use on http://1000hz.github.io/bootstrap-validator/ -->
	<div class="container">   
        <div class="row">
        	<div class="col-md-12">
            
            	<div class="jumbotron">
            		<p>We are a global team that is currently located in Australia, Brazil and Germany. If you want to meet one of our team members face to face,
					   just send them an email.	Otherwise please use one of our "User Listening Channels" below</p>
            		
        		</div>
        
        
        
            
        <div class="row">
            <div class="col-md-9">
				<div class="jumbotron">
                        <h3>Contact Us!</h3>
						<div class="row top-buffer">
                        <a href="mailto:info@iHealth4me.com"><img src="images/email.jpg"> info@iHealth4me.com </img></a>
                        </div>
						<div class="row top-buffer">
						<a href="https://www.facebook.com/iHealth4Me"><img src="images/fb.jpg"> www.facebook.com/iHealth4me </img></a>
                        </div>
						<div class="row top-buffer">
						<a href="https://www.twitter.com/iHealth4Me"><img src="images/twitter.jpg"> #iHealth4me </img></a>
                        </div>
						 
                </div>
                    
                    
            </div>
			
			<div class="col-md-3">
				
				<div class="row">
				
                        <img src="images/australian-flag-map.jpg">
						
                        
                
                </div>
				<div class="row">
				
                        <img src="images/brazil-flag-map.jpg">
						
                        
                
                </div> 
				
				<div class="row">
				
                        <img src="images/germany-flag-map.jpg">
						
                        
                
                </div> 
                    
            </div>
                
        </div>
        	
                
    </div>

    <% include ../views/public_templates/public_footer_bar %>

</body>
