<head>

    <title>iHealth4Me</title>
    <% include ../views/public_templates/public_header %>

</head>

<body>
<% include ../views/public_templates/public_header_bar %>

    <!-- Main jumbotron for a primary marketing message or call to action -->

    <!--Agam 15/05/14 added validator.js and form validation attributes, how to use on http://1000hz.github.io/bootstrap-validator/ -->
	<div class="container">   
        <div class="row">
        	<div class="col-md-12">
            
            	<div class="jumbotron">
            		<h3>Our Mission!</h3>
            		<p>is to change consumer behaviour towards a healthier life style, by providing information and tools that enables individuals to define
					and execute a Personal Health Strategy which results in increased life quality and reduced healthcare cost. Your goal is to enable you to live a 
					healthier, happier and more successful life</p>
            		
        		</div>
            
        <div class="row">
            <div class="col-md-12">
				<div class="jumbotron">
                        <h3>Our Motivation!</h3>
                        <p>comes from the personal mission of the co-founders to make this world a better place and aid individuals to become educated and empowered
						health consumer.
                        </p>
						<p>We are a Social Enterprice that measures its success using the Triple-Bottom-Line approach that balances the need to build a financial
						sustainable organization with the desire to provide value to our users, customers and the society</p>
                        
                </div>
                    
                    
            </div>
                
        </div>
        	
                
    </div>
        
    <% include ../views/public_templates/public_footer_bar %>
	
</body>
