<head>

    <title>iHealth4Me</title>
    <% include ../views/public_templates/public_header %>

</head>

<body>
<% include ../views/public_templates/public_header_bar %>
    <!-- Main jumbotron for a primary marketing message or call to action -->

    <!--Agam 15/05/14 added validator.js and form validation attributes, how to use on http://1000hz.github.io/bootstrap-validator/ -->
	<div class="container">   
        <div class="row">
        	<div class="col-md-12">
            
            	<div class="jumbotron">
            		<h3>Partnerships</h3>
            		<p>are succesful if they create a win-win situation for both sides. Through co-innovation we partner up with innovative organization
					that share our mission to educate and empower health consumers.</p>
					<ul>
					<li>For research organizations we provide input from the industry and help them impactful application to their great research.</li>
					<li>For corporates we offer the opportunity to test the market quickly and with low risk.</li>
					<li>For governments we support them in their vision to improve overall health of its citizens and reduce the increasing cost of the 
					healthcare system.</li>
					</ul>
            		
        		</div>
		    </div>
        </div>			
            
        <div class="row">
            <div class="col-md-12">
				<div class="jumbotron">
                        <h3>Our Current Partners</h3>
                        <p>SAP, <a href="http://www.sap.com">www.sap.com</a>, iHealth4Me is part of the SAP Startup Forum Program</p>
						<p>MIT, <a href="http://www.mit.edu">www.mit.edu</a>, The product idea was the outcome of work on the co-founders did at MIT Sloan</p>
                        <p>Harvard, <a href="http://www.hbs.edu"> www.hbs.edu</a>, The business model for iHealth4me was developed in collaboration with HBS
						<p>UNSW, <a href="http://www.unsw.edu.au">www.unsw.edu.au</a>
						<ul><li> We are working with the ASB(Information Systems Technology and Management) on Design Thinking challenges</li>
						<li>One of our team members will be pursuing a PhD in studying benefits of Bollywood dancing to health and well-being 
						using health tracking bluetooth sensored devices</li>
					    <li> Several of our developers are UNSW students</li></ul></p>
						<p>NewSouth Innovation, <a href="http://www.nswinnovations.com.au">www.nswinnovations.com.au</a>, iHealth4Me is part of the NSI entrepreneurship teams</p>
				</div>
                    
                    
            </div>
                
        </div>
        	
                
    </div>
            
    <% include ../views/public_templates/public_footer_bar %>

</body>
