<!-- Finess Navigation start -->
<div class="col-md-2 col-md-offset-1">
    <div class="sidebar-nav">
        <div class="navbar navbar-default" role="navigation">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".sidebar-navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <span class="visible-xs navbar-brand">Sidebar menu</span>
            </div>
            <div class="navbar-collapse collapse sidebar-navbar-collapse">
                <ul class="nav navbar-nav">
                    <li onclick="changeMenu(this);"><a href="/fitness/overview">Overview</a></li>
                    <li onclick="changeMenu(this);"><a href="/fitness/profile" >Profile</a></li>
                    <li class="active"><a href="#">Health Assesment</a></li>
                    <li onclick="changeMenu(this);"><a href="#">Activities</a></li>
                    <li onclick="changeMenu(this);"><a href="#">Schedule</a></li>
                    <li onclick="changeMenu(this);"><a href="#">Track Data</a></li>
                    <li onclick="changeMenu(this);"><a href="#">Statistics</a></li>
                </ul>
            </div><!--/.nav-collapse -->
        </div>
    </div>
</div>
<!-- Finess Navigation End -->