<!--index text boxes -->
<div class="well row text-center pull-center">
                <div class="col-md-2 col-md-offset-1">
                    <div class="row"><input type="text" style="width:60px;" value="37" readonly></div>
                    <div class="row">My Fitness Index</div>
                </div>
                <!--
                <div class="col-md-2">
                    <div class="row"><input type="text" style="width:60px;" value="37" readonly></div>
                    <div class="row">Data Quality</div>
                </div>
                -->
                <div class="col-md-2">
                    <div class="row"><input type="text" style="width:60px;" value="37" readonly></div>
                    <div class="row">My Best Fitness Index</div>
                </div>
                <div class="col-md-2">
                    <div class="row"><input type="text" style="width:60px;" value="37" readonly></div>
                    <div class="row">Peer Group Fitness Index</div>
                </div>
                <div class="col-md-2">
                    <div class="row"><input type="text" style="width:60px;" value="37" readonly></div>
                    <div class="row">My Fitness Index Goal</div>
                </div>
                <div class="col-md-2">
                    <input type="submit" value="Track Fitness Data">
                </div>
</div>