<!doctype html>
<html lang="en">

<head>
    <title>HealthAssesment</title>
    <% include ../public_templates/public_header %>    
    <link rel='stylesheet' type='text/css' href='/stylesheets/style.css' />
    <Script type="text/javascript">

        (function($,W,D)
        {
            var JQUERY4U = {};

            JQUERY4U.UTIL =
            {
                setupFormValidation: function()
                {
                //form validation rules
                $("#frmHealthAssesment").validate({
                    rules: {
                        weight: {
                            required: true,
                            number: true,
                            minlength: 2,
                            maxlength: 3
                        },
                        height: {
                            required: true,
                            number: true,
                            minlength: 3,
                            maxlength: 3
                        },
                        bodyfat: {
                            required: true,
                            number: true,
                            range: [0,100]
                        },
                        lbm: {
                            required: true,
                            number: true,
                            range: [0,1000]
                        },
                        fbs: {
                            required: true,
                            number: true,
                            range: [0,200]
                        },
                        wm: {
                            required: true,
                            number: true,
                            range: [0,300]
                        },
                        hm: {
                            required: true,
                            number: true,
                            range: [0,300]
                        },
                        tc: {
                            required: true,
                            number: true,
                            range: [0,20]
                        },
                        chol: {
                            required: true,
                            number: true,
                            range: [0,20]
                        },
                        hdl: {
                            required: true,
                            number: true,
                            range: [0,20]
                        },
                        ldl: {
                            required: true,
                            number: true,
                            range: [0,20]
                        },
                        sbp: {
                            required: true,
                            number: true,
                            range: [0,1000]
                        },
                        dbp: {
                            required: true,
                            number: true,
                            range: [0,1000]
                        }
                    },
                    messages: {
                        //weight: "Please enter a valid weight"
                    },
                    submitHandler: function(form) {
                        form.submit();
                    }
                });
    }
    }

        //when the dom has loaded setup form validation rules
        $(D).ready(function($) {
            JQUERY4U.UTIL.setupFormValidation();
        });
        
    })(jQuery, window, document);
    </script>
</head>
<body>    
    <% include ../public_templates/fitness_header_bar %>
    <!--breadcrumb start-->
    <div class="col-md-10 col-md-offset-1">
        <ol class="breadcrumb">
            <li><a href="#">Home</a></li>
            <li><a href="#">Fitness</a></li>
            <li class="active">Health Assesment</li>
        </ol>
    </div>
    <!--breadcrumb end-->
    <% include fitness_nav %>
    <!-- right column start-->
    <div class="col-md-8 com-md-offset-2">
            
            <% include fitness_header %>
            <div class="row well">
                <h3>Health Assesment</h3>
                <form id="frmHealthAssesment" method="post" action="/fitness/saveHealthAssesmentInfo" class="form-horizontal">
                    <fieldset>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="col-sm-5 control-label">Weight</label>
                                <div class="col-sm-7">
                                    <input style="width:120px;" type="text" name='weight' id="weight" class="form-control" placeholder="kg"/>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-5 control-label">Height</label>
                                <div class="col-sm-7">
                                    <input style="width:120px;" type="text" name='height' id="height" class="form-control" placeholder="cm"/>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-5 control-label">BMI</label>
                                <div class="col-sm-7">
                                    <input style="width:120px;" type="text" name='bmi' id="bmi" class="form-control" placeholder=""/>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-5 control-label">Body Fat</label>
                                <div class="col-sm-7">
                                    <input style="width:120px;" type="text" name='bodyfat' id="bodyfat" class="form-control" placeholder="%"/>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-5 control-label">Lean Body Mass</label>
                                <div class="col-sm-7">
                                    <input style="width:120px;" type="text" name='lbm' id="lbm" class="form-control" placeholder=""/>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-5 control-label">Heart Rate</label>
                                <div class="col-sm-7">
                                    <input style="width:120px;" type="text" name='hrate' id="hrate" class="form-control" placeholder=""/>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-5 control-label">Fasting Blood Sugar</label>
                                <div class="col-sm-7">
                                    <input style="width:120px;" type="text" name='fbs' id="fbs" class="form-control" placeholder="mg/dL"/>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="col-sm-5 control-label">Waist Measurement</label>
                                <div class="col-sm-7">
                                    <input style="width:120px;" type="text" name='wm' id="wm" class="form-control" placeholder="cm"/>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-5 control-label">Hip Measurement</label>
                                <div class="col-sm-7">
                                    <input style="width:120px;" type="text" name='hm' id="hm" class="form-control" placeholder="cm"/>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-5 control-label">Triglyceride</label>
                                <div class="col-sm-7">
                                    <input style="width:120px;" type="text" name='tc' id="tc" class="form-control" placeholder="mmol/l"/>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-5 control-label">Blood Pressure</label>
                                <div class="col-sm-7">
                                    <div class="col-sm-6" style="padding-left:0px;">
                                        <div class="row">Systolic</div>
                                        <div class="row"><input style="width:60px;" type="text" name='sbp' id="sbp" class="form-control" placeholder=""/></div>
                                    </div>
                                    <div class="col-sm-6" style="padding-left:0px;">
                                        <div class="container">
                                            <div class="row">Diastolic</div>
                                            <div class="row"><input style="width:60px;" type="text" name='dbp' id="dbp" class="form-control" placeholder=""/></div>                                      
                                        </div>                                        
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-5 control-label">Cholesterol</label>
                                <div class="col-sm-7">
                                    <input style="width:120px;" type="text" name="chol" id="chol" class="form-control" placeholder="mmol/l"/>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-5 control-label">HDL</label>
                                <div class="col-sm-7">
                                    <input style="width:120px;" type="text" name='hdl' id="hdl" class="form-control" placeholder="mmol/l"/>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-5 control-label">LDL</label>
                                <div class="col-sm-7">
                                    <input style="width:120px;" type="text" name='ldl' id="ldl" class="form-control" placeholder="mmol/l"/>
                                </div>
                            </div>    
                        </div>
                    </fieldset>
                    <div class="pull-right">
                        <button type="submit" class="btn button-primary">Submit</button>
                    </div>
                </form>            
            </div>
    </div>
    <!--right column end-->
</body>
