<!doctype html>
<html lang="en">

<head>
    <title>HealthAssesment</title>
    <% include ../public_templates/public_header %>    
    <link rel='stylesheet' type='text/css' href='/stylesheets/style.css' />
</head>
<body>    
    <% include ../public_templates/fitness_header_bar %>
    <!--breadcrumb start-->
    <div class="col-md-10 col-md-offset-1">
        <ol class="breadcrumb">
            <li><a href="#">Home</a></li>
            <li><a href="#">Fitness</a></li>
            <li class="active">Health Assesment</li>
        </ol>
    </div>
    <!--breadcrumb end-->
    <% include fitness_nav %>
    <!-- right column start-->
    <div class="col-md-8 com-md-offset-2">
            
            <% include fitness_header %>
            <div class="row well">
                <h3>Basic Fitness Data</h3>
                <div class="row">
                    <div class="col-md-6">
                        <form id="frmHealthAssesment" class="form-horizontal">
                            <fieldset>
                                <div class="form-group">
                                    <label class="col-sm-5 control-label">Fitness Level</label>
                                    <div class="col-sm-7">
                                        <select class="form-control">
                                            <option value="cheese">Begineer</option>
                                            <option value="tomatoes">Intermediate</option>
                                            <option value="mozarella">Expert</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-5 control-label">Fitness Likes</label>
                                    <div class="col-sm-7">
                                        <select multiple class="form-control">
                                            <option value="cheese">Cardio</option>
                                            <option value="tomatoes">Ball Games</option>
                                            <option value="mozarella">Yoga</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-5 control-label">Fitness Goals</label>
                                    <div class="col-sm-7">
                                        <select multiple class="form-control">
                                            <option value="cheese">Loose Weight</option>
                                            <option value="tomatoes">Build Muscle</option>
                                            <option value="mozarella">Build Strength</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-5 control-label">Limitation</label>
                                    <div class="col-sm-7">
                                        <select multiple class="form-control">
                                            <option value="cheese">Knee Problem</option>
                                            <option value="tomatoes">Back Problem</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-5 control-label">Fitness Index Target</label>
                                    <div class="col-sm-7">
                                        <input style="width:120px;" type="text" name='weight' id="weight" class="form-control" placeholder=""/>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-5 control-label">Time Commitment</label>
                                    <div class="col-sm-7">
                                        <input style="width:120px;" type="text" name='weight' id="weight" class="form-control" placeholder=""/>
                                    </div>
                                </div>
                            </fieldset>
                        </form>                         
                    </div>                    
                </div>
                <div class="row pull-right">
                    <button type="submit" class="btn button-primary">Submit</button>
                </div>
            </div>
    </div>
    <!--right column end-->
</body>