Hi <%= nameParameter %>, 
<br/>
<br/>
Welcome to iHealth4Me. It is great to have you with us.
<br/>
<br/>
To activate your account please go to the following link and enter your activation code. 
<br/>
<br/>
Your activation code is: <b><%=activationCodeParameter%></b> 
<br/><br/> 
Activate your account here: <a href="<%=urlParameter%>/activation"><%=urlParameter%>/activation</a> 
<br/>
<br/>
Please send an e-mail to <a href="mailto:support@iHealth4Me.com">support@iHealth4Me.com</a> if you have any issues with the activation of your account.
<br/>
<br/>
<b>iHealth4Me Team</b>