Hi, 
<br/> 
<br/>
Please use this temporary password to login to iHealth4Me.
<br/>
<br/> 
Password: <%=passwordParameter%> 
<br/>
<br/>
To to login into your account you use the following this link: <a href='<%= urlParameter+'/login'%>'> <%= urlParameter+'/login'%> </a> 
<br/>
<br/>
<b>iHealth4Me Team</b>